h1 {
  margin: 0;
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
  margin: 0;
  color: #122f35;
}

h3 {
  font-size: 1.2em;
  margin: 0;
  color: #25839a;
}

p {
  margin: 0 0 1em 0;
}
p:last-child {
  margin: 0;
}

a {
  color: #C04D25;
}
a[href*=mailto] {
  margin-left: 4px;
}
a[href*=mailto]::before {
  content: "\e92f";
  font-family: "icomoon";
  font-size: 12px;
  display: inline-block;
  padding-right: 4px;
  text-decoration: none;
}
a[target=_blank] {
  margin-left: 4px;
}
a[target=_blank]::before {
  content: "\e92c";
  font-family: "icomoon";
  font-size: 12px;
  display: inline-block;
  padding-right: 4px;
  text-decoration: none;
}
a[href*=tel] {
  margin-left: 4px;
}
a[href*=tel]::before {
  content: "\e93a";
  font-family: "icomoon";
  font-size: 12px;
  display: inline-block;
  padding-right: 4px;
  text-decoration: none;
}

hr {
  margin: 24px 0;
  padding: 0;
  border: 0;
  border-bottom: 1px dotted #d4cfcf;
}

.balance {
  font-weight: 700;
  display: block;
  border-radius: 4px;
  padding: 12px;
}
.balance.balance-due {
  background-color: #C04D25;
  color: #fefefe;
}

.txt-r {
  text-align: right;
}

@font-face {
  font-family: "icomoon";
  src: url("/icons/icomoon.eot?5mp4i2");
  src: url("/icons/icomoon.eot?5mp4i2#iefix") format("embedded-opentype"), url("/icons/icomoon.ttf?5mp4i2") format("truetype"), url("/icons/icomoon.woff?5mp4i2") format("woff"), url("/icons/icomoon.svg?5mp4i2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e900";
}

.icon-alert-octagon:before {
  content: "\e901";
}

.icon-alert-triangle:before {
  content: "\e902";
}

.icon-archive:before {
  content: "\e903";
}

.icon-arrow-down:before {
  content: "\e904";
}

.icon-arrow-left:before {
  content: "\e905";
}

.icon-arrow-right:before {
  content: "\e906";
}

.icon-arrow-up:before {
  content: "\e907";
}

.icon-at-sign:before {
  content: "\e908";
}

.icon-award:before {
  content: "\e909";
}

.icon-bell:before {
  content: "\e90a";
}

.icon-bell-off:before {
  content: "\e90b";
}

.icon-bookmark:before {
  content: "\e90c";
}

.icon-box:before {
  content: "\e90d";
}

.icon-briefcase:before {
  content: "\e90e";
}

.icon-calendar:before {
  content: "\e90f";
}

.icon-camera:before {
  content: "\e910";
}

.icon-check:before {
  content: "\e911";
}

.icon-chevron-down:before {
  content: "\e912";
}

.icon-chevron-left:before {
  content: "\e913";
}

.icon-chevron-right:before {
  content: "\e914";
}

.icon-chevron-up:before {
  content: "\e915";
}

.icon-circle:before {
  content: "\e916";
}

.icon-clipboard:before {
  content: "\e917";
}

.icon-credit-card:before {
  content: "\e918";
}

.icon-disc:before {
  content: "\e919";
}

.icon-dollar-sign:before {
  content: "\e91a";
}

.icon-download:before {
  content: "\e91b";
}

.icon-droplet:before {
  content: "\e91c";
}

.icon-edit:before {
  content: "\e91d";
}

.icon-external-link:before {
  content: "\e91e";
}

.icon-eye:before {
  content: "\e91f";
}

.icon-file:before {
  content: "\e920";
}

.icon-file-text:before {
  content: "\e921";
}

.icon-filter:before {
  content: "\e922";
}

.icon-flag:before {
  content: "\e923";
}

.icon-folder:before {
  content: "\e924";
}

.icon-frown:before {
  content: "\e925";
}

.icon-grid:before {
  content: "\e926";
}

.icon-heart:before {
  content: "\e927";
}

.icon-help-circle:before {
  content: "\e928";
}

.icon-home:before {
  content: "\e929";
}

.icon-image:before {
  content: "\e92a";
}

.icon-info:before {
  content: "\e92b";
}

.icon-link-2:before {
  content: "\e92c";
}

.icon-list:before {
  content: "\e92d";
}

.icon-lock:before {
  content: "\e92e";
}

.icon-mail:before {
  content: "\e92f";
}

.icon-map-pin:before {
  content: "\e930";
}

.icon-meh:before {
  content: "\e931";
}

.icon-menu:before {
  content: "\e932";
}

.icon-message-circle:before {
  content: "\e933";
}

.icon-message-square:before {
  content: "\e934";
}

.icon-minus:before {
  content: "\e935";
}

.icon-more-horizontal:before {
  content: "\e936";
}

.icon-more-vertical:before {
  content: "\e937";
}

.icon-navigation:before {
  content: "\e938";
}

.icon-paperclip:before {
  content: "\e939";
}

.icon-phone:before {
  content: "\e93a";
}

.icon-play:before {
  content: "\e93b";
}

.icon-plus:before {
  content: "\e93c";
}

.icon-printer:before {
  content: "\e93d";
}

.icon-search:before {
  content: "\e93e";
}

.icon-send:before {
  content: "\e93f";
}

.icon-settings:before {
  content: "\e940";
}

.icon-shield:before {
  content: "\e941";
}

.icon-sliders:before {
  content: "\e942";
}

.icon-smile:before {
  content: "\e943";
}

.icon-star:before {
  content: "\e944";
}

.icon-tag:before {
  content: "\e945";
}

.icon-thumbs-down:before {
  content: "\e946";
}

.icon-thumbs-up:before {
  content: "\e947";
}

.icon-toggle-left:before {
  content: "\e948";
}

.icon-toggle-right:before {
  content: "\e949";
}

.icon-trash-2:before {
  content: "\e94a";
}

.icon-unlock:before {
  content: "\e94b";
}

.icon-user:before {
  content: "\e94c";
}

.icon-user-plus:before {
  content: "\e94d";
}

.icon-users:before {
  content: "\e94e";
}

.icon-x:before {
  content: "\e94f";
}

.btn {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 6px 24px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.25s ease;
  background-color: #fefefe;
  background-image: none;
  color: #C04D25;
  font-weight: 700;
  font-size: 0.96em;
  cursor: pointer;
  border: 1px solid #C04D25;
  outline: 0;
}
.btn:hover {
  background-color: #F9941D;
  color: #101010;
}
.btn:focus {
  box-shadow: 0 0 0 3px rgba(249, 148, 29, 0.75);
}

.btn-cta {
  background-color: #C04D25;
  color: #fefefe;
  padding: 12px 24px;
  font-size: 1.15em;
}
.btn-cta:hover {
  color: #101010;
}

.btn-action {
  display: inline-block;
  padding: 4px;
  border-radius: 24px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  background-color: #f4f2f1;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}
.btn-action:hover {
  background-color: #C04D25;
  color: #fefefe;
}
.btn-action:focus-visible {
  outline: 2px solid #101010;
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 0.75em;
  background-color: #f4f2f1;
}
.badge.badge-green, .badge.badge-LOW {
  background-color: #25839a;
  color: #fefefe;
}
.badge.badge-yellow, .badge.badge-2 {
  background-color: #F9941D;
  color: #101010;
}
.badge.badge-red, .badge.badge-HIGH {
  background-color: #C04D25;
  color: #fefefe;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table thead th,
table thead td {
  border-bottom: 2px solid #d4cfcf;
}
table tbody th,
table tbody td {
  border-bottom: 1px solid #d4cfcf;
}
table tbody tr:last-child th,
table tbody tr:last-child td {
  border: 0;
}
table th,
table td {
  padding: 12px;
  text-align: left;
}
table th.td-right,
table td.td-right {
  text-align: right;
}
table th.td-center,
table td.td-center {
  text-align: center;
}
table th.td-date,
table td.td-date {
  width: 100px;
}
table th.td-number,
table td.td-number {
  width: 80px;
  text-align: right;
}
table th:first-child,
table td:first-child {
  padding-left: 0;
}
table th:last-child,
table td:last-child {
  padding-right: 0;
}
table th.td-actions,
table td.td-actions {
  text-align: right;
}

@media (min-width: 1180px) {
  table tbody th strong,
table tbody td strong {
    display: none;
  }
}
@media (min-width: 640px) and (max-width: 1179px) {
  table tbody th strong,
table tbody td strong {
    display: none;
  }
}
@media (max-width: 640px) {
  table tr th {
    display: none;
  }
  table tr td {
    display: flex;
    justify-content: space-between;
    border: 0;
    padding: 8px 4px;
  }
  table tr td:nth-child(even) {
    background-color: #f4f2f1;
  }
  table tr td:last-child {
    border-bottom: 1px solid #d4cfcf;
  }
}
body {
  background-color: #f4f2f1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1em;
}
body.noscroll {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-cont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
}

.stage {
  padding-top: 60px;
  transition: all 0.5s ease;
  z-index: 1;
}

.menu-open + .stage {
  filter: blur(3px);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 1180px) {
  .app-wrap {
    padding: 0 0 0 260px;
  }
  .main-cont {
    padding: 24px;
    min-height: calc(100vh - 120px);
  }
  .grid {
    display: flex;
  }
  .grid.lg-2 > .card {
    flex: 1 1 48%;
  }
  .grid.lg-3 > .card {
    flex: 1 1 30%;
  }
  .grid.lg-66-33 .card:first-child {
    flex: 1 1 65%;
  }
  .grid.lg-66-33 .card:last-child {
    flex: 1 1 31%;
  }
  .grid.lg-33-66 .card:first-child {
    flex: 1 1 31%;
  }
  .grid.lg-33-66 .card:last-child {
    flex: 1 1 65%;
  }
}
.hidden {
  opacity: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  z-index: -10;
}

@media (min-width: 640px) and (max-width: 1179px) {
  .main-cont {
    padding: 24px;
    min-height: calc(100vh - 120px);
  }
  .grid {
    display: flex;
  }
  .grid.md-2 > .card {
    flex: 1 1 48%;
  }
  .grid.md-3 > .card {
    flex: 1 1 30%;
  }
  .grid.md-66-33 .card:first-child {
    flex: 1 1 65%;
  }
  .grid.md-66-33 .card:last-child {
    flex: 1 1 31%;
  }
  .grid.md-33-66 .card:first-child {
    flex: 1 1 31%;
  }
  .grid.md-33-66 .card:last-child {
    flex: 1 1 65%;
  }
}
.main-nav {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  padding: 60px 0 24px 0;
  background-color: #122f35;
  transition: all 0.25s ease;
  z-index: 1000;
  box-sizing: border-box;
}

.side-head {
  background-color: #112326;
  height: 60px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
}
.side-head .logo {
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
}

.menu-toggle {
  position: absolute;
  z-index: 200;
  left: 100%;
  top: 0;
  border: 0;
  font-size: 22px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  color: #122f35;
}

.main-menu {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.menu-label {
  text-transform: uppercase;
  color: #fefefe;
  font-size: 0.75em;
  font-weight: 600;
  padding: 24px 12px 6px 12px;
  border-bottom: 1px dotted rgba(244, 242, 241, 0.25);
}

.menu-item {
  margin: 0;
  padding: 0;
}
.menu-item.menu-item-active .menu-link {
  background-color: rgba(16, 16, 16, 0.25);
  border-left: 2px solid #F9941D;
}
.menu-item.menu-item-active .menu-link i {
  color: #F9941D;
}

.menu-link {
  display: block;
  position: relative;
  color: #fefefe;
  text-decoration: none;
  padding: 12px 12px 12px 42px;
  transition: background-color 0.25s ease;
  border-left: 2px solid #122f35;
}
.menu-link i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  margin-right: 12px;
  color: #25839a;
}
.menu-link:hover {
  background-color: rgba(16, 16, 16, 0.25);
}

@media (min-width: 1180px) {
  .main-nav {
    width: 260px;
  }
  .menu-toggle {
    display: none;
  }
  .side-head {
    padding: 12px 24px;
    width: 260px;
  }
  .menu-label {
    padding: 24px 24px 12px 24px;
  }
  .menu-link {
    padding: 12px 24px 12px 54px;
  }
  .menu-link i {
    left: 22px;
  }
}
@media (min-width: 640px) and (max-width: 1179px) {
  .main-nav {
    transform: translateX(-100%);
  }
  .main-nav i.icon-x {
    display: none;
  }
  .main-nav.menu-open {
    transform: translateX(0);
  }
  .main-nav.menu-open i.icon-x {
    display: inline-block;
  }
  .main-nav.menu-open i.icon-menu {
    display: none;
  }
}
@media (max-width: 640px) {
  .main-nav {
    transform: translateX(-100%);
  }
  .main-nav i.icon-x {
    display: none;
  }
  .main-nav.menu-open {
    transform: translateX(0);
  }
  .main-nav.menu-open i.icon-x {
    display: inline-block;
  }
  .main-nav.menu-open i.icon-menu {
    display: none;
  }
}
.main-head {
  background-color: #fefefe;
  padding: 12px;
  box-sizing: border-box;
  height: 60px;
  box-shadow: 2px 2px 3px rgba(212, 207, 207, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .main-head {
    padding-left: 72px;
  }
}
.user-menu {
  position: relative;
}

.user-menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  color: #122f35;
  cursor: pointer;
}
.user-menu-button .user-menu-avatar {
  margin-left: 12px;
  overflow: hidden;
  border-radius: 18px;
  height: 36px;
  width: 36px;
  box-shadow: 0 0 0 3px rgba(249, 148, 29, 0.25);
}
.user-menu-button .user-menu-avatar img {
  width: 36px;
  height: 36px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-menu-button .user-menu-name i {
  font-size: 0.8em;
}

.user-menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  width: 160px;
  background-color: #fefefe;
  box-shadow: 1px 1px 3px rgba(212, 207, 207, 0.5);
  overflow: hidden;
  border-radius: 4px;
  margin: 0;
  padding: 0 12px;
  list-style: none;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.user-menu-list li {
  margin: 0;
  padding: 0;
}
.user-menu-list .user-menu-out {
  padding-top: 12px;
}
.user-menu-list .user-menu-out button {
  width: 100%;
}
.user-menu-list a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 3px;
  color: #25839a;
  line-height: 1.5;
  cursor: pointer;
}
.user-menu-list a:hover {
  background-color: #f4f2f1;
}
.user-menu-list.user-menu-open {
  padding: 12px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.breadcrumbs {
  margin: 0 0 2em 0;
  padding: 8px, 0;
}

.breadcrumb-list {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumb-item {
  padding: 0 6px 0 0;
}
.breadcrumb-item::after {
  content: " /";
  color: #878787;
}
.breadcrumb-item:last-child::after {
  content: "";
}
.breadcrumb-item a {
  color: #C04D25;
  text-decoration: none;
}
.breadcrumb-item span {
  color: #878787;
}

.card {
  margin: 0 0 24px 0;
  background-color: #fefefe;
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(212, 207, 207, 0.5);
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
}
.card .card-head {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-head .card-icon {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 4em;
  color: rgba(37, 131, 154, 0.25);
}
.card .card-head .account-balance {
  background-color: rgba(37, 131, 154, 0.15);
  padding: 8px 12px;
  text-align: right;
  border-radius: 4px;
}
.card .card-head .account-balance span {
  font-size: 1.2em;
}
.card .card-head .account-balance p {
  font-size: 0.8em;
}
.card .card-cont {
  padding: 12px;
}
.card .card-error {
  width: 100%;
  height: 120px;
  background-color: #f8ece8;
  color: #C04D25;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 700;
}

@media (min-width: 1180px) {
  .card {
    margin: 0 12px 24px 12px;
  }
  .card:first-child {
    margin-left: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card .card-head {
    padding: 12px 24px;
  }
  .card .card-cont {
    padding: 12px 24px 24px 24px;
  }
  .card .card-cont:only-child {
    padding: 24px;
  }
}
@media (min-width: 640px) and (max-width: 1179px) {
  .card {
    margin: 0 12px 24px 12px;
  }
  .card:first-child {
    margin-left: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card .card-head {
    padding: 12px 24px;
  }
  .card .card-cont {
    padding: 12px 24px 24px 24px;
  }
  .card .card-cont:only-child {
    padding: 24px;
  }
}
.tabs {
  width: 100%;
}
.tabs .tab-panel:first-child .card {
  border-top-left-radius: 0;
}

.tab-panel {
  display: none;
}
.tab-panel .card-head {
  padding-top: 24px;
}
.tab-panel .card-head h2 {
  flex-grow: 1;
  padding-bottom: 12px;
  border-bottom: 1px dotted #d4cfcf;
}
.tab-panel.tab-panel-active {
  display: block;
}

.tab-links {
  display: flex;
  justify-content: flex-start;
}

.tab-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  text-decoration: none;
  border: 0;
  padding: 12px 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: auto;
  background-color: #f4f2f1;
  border-radius: 6px 6px 0 0;
  margin: 0 4px 0 0;
  cursor: pointer;
  transition: background 0.15s ease;
}
.tab-button.tab-button-active {
  background-color: #fefefe;
  border-top: 2px solid #F9941D;
  color: #122f35;
}
.tab-button:hover {
  background-color: #fefefe;
  color: #122f35;
}

@media (max-width: 640px) {
  .tabs {
    width: 100%;
  }
  .tabs .tab-panel:first-child .card {
    border-top-left-radius: 6px;
  }
  .tab-links {
    flex-direction: column;
    margin-left: -12px;
  }
  .tab-button {
    margin: 0 0 4px 0;
    border-radius: 0 4px 4px 0;
  }
  .tab-button.tab-button-active {
    background-color: #fefefe;
    border-top: 0;
    border-right: 2px solid #F9941D;
    color: #122f35;
  }
}
.announcement {
  padding: 24px 0;
  border-bottom: 1px dotted #d4cfcf;
}
.announcement:last-child {
  border: 0;
}

.announcement-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.announcement-head .badge-LOW {
  display: none;
}

.announcement-cont time {
  display: block;
  color: #878787;
  margin-bottom: 12px;
}

.comment {
  padding: 12px;
  background-color: #f4f2f1;
  border-radius: 6px;
  margin-bottom: 12px;
}
.comment:last-child {
  margin-bottom: 0;
}

.author-admin {
  color: #C04D25;
}

.comment-meta {
  font-size: 0.9em;
  text-align: right;
  opacity: 0.75;
}

@media (min-width: 1180px) {
  .comment {
    padding: 24px 24px 12px 24px;
    margin-bottom: 24px;
  }
}
fieldset {
  margin: 0;
  margin-bottom: 24px;
  border: 0;
  padding: 0;
  position: relative;
  border-top: 1px dotted #d4cfcf;
}
fieldset:last-child {
  margin-bottom: 0;
}
fieldset legend {
  font-size: 1em;
  padding: 8px 12px 12px 0;
  margin-bottom: 12px;
  font-size: 1em;
  border-radius: 0;
  font-weight: bold;
  color: #878787;
  background-color: #fefefe;
}

.field {
  padding: 0 0 12px 0;
  margin-bottom: 12px;
}

.field-submit {
  padding: 12px 0 0 0;
  margin-top: 12px;
  margin-bottom: 0;
}

label {
  display: block;
  padding: 0 0 4px 0;
}

input[type=text],
input[type=email],
input[type=date],
input[type=url],
input[type=email],
input[type=number],
input[type=url],
input[type=password],
textarea {
  display: block;
  padding: 12px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fefefe;
  border: 1px solid #878787;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  font-size: 1em;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  box-shadow: 0 0 0 3px rgba(249, 148, 29, 0.75);
}

textarea {
  resize: vertical;
}

select {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 12px;
  font-family: "Source Sans Pro", sans-serif;
  border: 1px solid #878787;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  font-size: 1em;
  background-color: #fefefe;
  background-image: url("/images/icon-chevron-down.svg");
  background-size: 14px auto;
  background-position: right 12px top 50%;
  background-repeat: no-repeat;
}
select:focus {
  box-shadow: 0 0 0 3px rgba(249, 148, 29, 0.75);
}

.field-file-wrap {
  display: flex;
}
.field-file-wrap img {
  height: 104px;
  width: auto;
  margin-right: 24px;
  flex: 0 0 auto;
}
.field-file-wrap .field-file {
  flex: 1 0 auto;
}

input[type=file] {
  display: block;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}

input[type=file]::-webkit-file-upload-button {
  display: block;
  width: 100%;
  height: 72px;
  border: 2px dashed #d4cfcf;
  padding: 24px;
  border-radius: 4px;
  background-color: #f4f2f1;
  -webkit-transition: 1s;
  transition: 1s;
  box-sizing: border-box;
  margin-bottom: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

input[type=file]::file-selector-button {
  display: block;
  width: 100%;
  height: 72px;
  border: 2px dashed #d4cfcf;
  padding: 24px;
  border-radius: 4px;
  background-color: #f4f2f1;
  transition: 1s;
  box-sizing: border-box;
  margin-bottom: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: bold;
}

input[type=file]::-ms-browse:hover {
  background-color: rgba(249, 148, 29, 0.15);
  border-color: #F9941D;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: rgba(249, 148, 29, 0.15);
  border-color: #F9941D;
}

input[type=file]::file-selector-button:hover {
  background-color: rgba(249, 148, 29, 0.15);
  border-color: #F9941D;
}

.field-optionset .optionset {
  list-style: none;
  margin: 0;
  padding: 12px 0;
  display: flex;
}
.field-optionset .optionset li {
  margin-right: 48px;
}
.field-optionset .optionset label {
  position: relative;
  padding-left: 36px;
}
.field-optionset .optionset input[type=radio] {
  position: absolute;
  margin: 0;
  left: 0;
  top: 50%;
  transform: translateY(-54%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid #F9941D;
  background-color: #fefefe;
  border-radius: 14px;
  cursor: pointer;
}
.field-optionset .optionset input[type=radio]:checked {
  border-color: #101010;
  background-color: #F9941D;
}
.field-optionset .optionset input[type=radio]:checked::after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 4px;
  background-color: #101010;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.field-checkbox > label {
  font-weight: bold;
}
.field-checkbox .checkbox-list {
  list-style: none;
  margin: 0;
  padding: 12px 0;
}
.field-checkbox .checkbox-list label {
  position: relative;
  padding-left: 36px;
}
.field-checkbox .checkbox-list input[type=checkbox] {
  position: absolute;
  margin: 0;
  left: 0;
  top: 50%;
  transform: translateY(-54%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid #F9941D;
  background-color: #fefefe;
  border-radius: 4px;
  cursor: pointer;
}
.field-checkbox .checkbox-list input[type=checkbox]:checked {
  border-color: #101010;
  background-color: #F9941D;
}
.field-checkbox .checkbox-list input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  display: block;
  left: 6px;
  top: 2px;
  border-right: 3px solid #101010;
  border-bottom: 3px solid #101010;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
}

.field-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 0 0;
}

.alert {
  padding: 6px 12px;
  margin: 2px 0 12px 0;
  border-radius: 4px;
  font-weight: bold;
}
.alert.alert-error {
  color: #C04D25;
  background-color: #f8ece8;
}
.alert.alert-warning {
  color: #F9941D;
  background-color: #fef3e8;
}
.alert.alert-success {
  color: #25839a;
  background-color: #e8f2f4;
}

.form-errors {
  padding: 12px;
  background-color: #f8ece8;
  margin: 0 0 12px 0;
  border: 1px solid #C04D25;
  border-radius: 4px;
}
.form-errors .form-errors-title {
  font-weight: bold;
  margin-bottom: 12px;
}
.form-errors .form-errors-list {
  margin: 0;
}

.field-repeatable {
  position: relative;
  border: 1px dotted #d4cfcf;
  border-radius: 6px;
  padding: 12px 12px 1px 12px;
  margin-bottom: 12px;
  background-color: #f4f2f1;
}

.btn-remove-item {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  background-image: none;
  padding: 8px;
  margin: 0;
  border: 0;
  color: #F9941D;
  cursor: pointer;
}

.btn-add-item {
  position: absolute;
  right: -18px;
  top: 50%;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fefefe;
  border: 1px solid #d4cfcf;
  background-image: none;
  padding: 0;
  border-radius: 18px;
  font-size: 24px;
  height: 36px;
  line-height: 37px;
  width: 36px;
  margin: -18px 0 0 0;
  color: #F9941D;
  cursor: pointer;
}
.btn-add-item:hover {
  background-color: #F9941D;
  color: #fefefe;
}

@media (min-width: 1180px) {
  .field-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .field-group .field {
    margin-left: 12px;
    margin-right: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 48%;
  }
  .field-group .field.field-small {
    flex-basis: 20%;
  }
  .field-group .field:first-child {
    margin-left: 0;
  }
  .field-group .field:last-child {
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .field-file-wrap {
    display: flex;
    flex-direction: column;
  }
  .field-file-wrap img {
    height: auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
    flex: 0 0 auto;
  }
  .field-file-wrap .field-file {
    flex: 1 0 auto;
  }
}
.pagination {
  border-top: 1px solid #d4cfcf;
}
.pagination nav > div {
  display: flex;
  justify-content: flex-end;
}
.pagination nav > div span,
.pagination nav > div a {
  display: block;
  padding: 12px;
}

.loading {
  width: 100%;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #F9941D;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.main-foot {
  padding: 12px;
  box-sizing: border-box;
  height: 60px;
  font-size: 0.9em;
  color: #878787;
}

@media (min-width: 1180px) {
  .main-foot {
    padding: 12px 24px;
  }
}
.main-login {
  height: calc(100vh - 60px);
  padding-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-login h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.login-box {
  max-width: 420px;
  flex: 1 0 auto;
}
